:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background: rgb(150, 127, 166);
    background: linear-gradient(153deg, rgba(150, 127, 166, 1) 19%, rgba(6, 6, 195, 1) 100%);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

.Display {
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 5fr;
    gap: 10vh;
}

.city-Disaster-style {
    padding: 15px 0;
    display: grid;
    gap: 15px;
    justify-items: center;
}
